:root {
    --primaryRed: rgb(248, 64, 64);
}

body {
    min-height: 100vh;
}

.navbar-custom {
    background-color: var(--primaryRed);
}

.navbar-brand, .nav-link {
    color: #fcecec;
}

#navContainer {
    padding: 0;
    box-shadow: 0px 3px 3px 3px rgba(43, 27, 27, 0.3);
}

.carousel-item {
    
    overflow: hidden;
}

.carousel-caption {
    background-color: rgba(148, 148, 148, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 7px 6px rgba(148, 148, 148, 0.5)  ;
}
